@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Very-light-gray: hsl(0, 0%, 95%); 
    --Transparent-white:  hsla(0, 0%, 100%, 0.75);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-size: 15px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    width: 80%;
    margin: 4em auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    border-radius: .5rem;
    overflow: hidden;
}
main .card {
    padding: 3em;
    display: flex;
    flex-direction: column;
}
.card .text {
    height: 30em;
    margin-bottom: 5em;
}
.card h1 {
    font-weight: normal;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2rem;
    
}
main .card h1, button {
    color: var(--Very-light-gray);
}
.card p {
    color: var(--Transparent-white);
    font-size: 1.4rem;
    font-family: 'Lexend Deca', sans-serif;
    word-wrap: break-word;
}
button {
    width: 10em;
    height: 3em;
    border: none;
    border-radius: 1rem;
    transition: .6s ;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    margin-bottom: 2em;
}

main .orange {
   background-color: var(--Bright-orange);
}
.orange button {
    color: var(--Bright-orange);
}
.orange button:hover {
    background-color: var(--Bright-orange);
}
main .green-cold {
   background-color: var(--Dark-cyan);
}
.green-cold button {
    color: var(--Dark-cyan);
}
.green-cold button:hover {
    background-color: var(--Dark-cyan);
}
main .green-black {
   background-color: var(--Very-dark-cyan);
}
.green-black button {
    color: var(--Very-dark-cyan);
}
.green-black button:hover {
    background-color: var(--Very-dark-cyan);
}

button:hover {
    color: var(--Very-light-gray);
    border: 2px solid var(--Transparent-white);
    cursor: pointer;

}